.cart-component {
  font-family: "Rock Salt", cursive;
  font-weight: 700;
}

.cart-section {
  display: flex;
  flex-direction: column;
  height: 110vh;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  font-family: "Rock Salt", cursive;
  text-align: center;
}

.cart-title {
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  text-align: center;
  margin-top: 15vh;
}

.cart-holder {
  background-color: white;
  height: 100vh;
  width: 95vw;
}
