.landing {
  background-image: url("https://s.yimg.com/uu/api/res/1.2/a9JZJnIFOiEBxL9d4Js9Og--~B/aD0xNjAwO3c9MTYwMDtzbT0xO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en-US/popsugar_fitness_773/69fb074493ae68e033f8971d833064c4");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
